*, 
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #1a2b4b;   
    --bg-color: #daeafa;        
    --white: #ffffff;
    --text-color: #333333;
    --gray-text: #666666;
    --border-radius: 12px;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    --green-bg: #dcfce7; 
    --green-text: #166534;
    --red-bg: #fee2e2;   
    --red-text: #991b1b;
    --yellow-bg: #fef9c3; 
    --yellow-text: #854d0e;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}