.summary-bar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 2rem;
  background: white;
  padding: 10px;
  border-radius: var(--border-radius);
  border-top: 3px solid #3b82f6; 
  box-shadow: var(--shadow);
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px;
  border-right: 1px solid #eee;
}

.card:last-child {
  border-right: none;
}

.card span {
  font-size: 0.9rem;
  color: var(--gray-text);
  display: block;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 5px 0 0 0;
  color: var(--primary-color);
}

.icon-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.card.green h3 { 
    color: var(--green-text); 
}
.card.red h3 { 
    color: var(--red-text); 
}
.card.yellow h3 { 
    color: var(--yellow-text); 
}